.pad-input-container {
  display:grid;
  grid-template-columns: 200px 200px;
  grid-row: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.designpad {
  display: flex;
  border: 1px solid black;
  width: 100px;
  margin: 35px;
}

.button {
  margin: 10px;
  align-items: center;
}